{%- liquid
  assign section_st = section.settings
  assign show_promotion_mobile = section_st.show_promotion_mobile
  assign code = section_st.promotion_code
  assign width = section_st.promotion_width
  assign heading = section_st.promotion_title
  assign sub_title = section_st.promotion_sub_title
  assign background_image = section_st.promotion_banner
  assign promotion_content = section_st.promotion_content
  assign show_promotion_select = section_st.show_promotion_select
  assign promotion_url = section_st.promotion_url

  assign show = 'hidden'
  if show_promotion_select == 'show_promotion_homepage'
    if request.page_type == 'index'
      assign show = 'show-on-homepage'
    endif
  elsif show_promotion_select == 'hide_promotion'
    assign show = 'hidden'
  else
    assign show = 'show-on-all-pages'
  endif

  assign product_image = null
  if background_image == blank and promotion_url != blank
    assign url_parts = promotion_url | split: '/products/'
    if url_parts.size > 1
      assign product_handle = url_parts[1] | split: '?' | first | split: '#' | first
      assign url_product = all_products[product_handle]
      if url_product != blank and url_product.featured_image != blank
        assign product_image = url_product.featured_image
      endif
    endif
  endif
-%}
{% liquid
  assign enable_rtl = settings.rtl
  assign iso_code = request.locale.iso_code
  assign lis_language_rtl = settings.language_rtl
  if lis_language_rtl != blank
    if lis_language_rtl contains iso_code
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
{%- capture style -%}
--popup-max-width: {{ width }}px;
{%- endcapture -%}
<promotion-popup
  id="promotion-popup"
  data-show="{{ show }}"
  data-show-mb="{{ show_promotion_mobile }}"
  style="display: none;"
  {% if show_promotion_mobile != blank %}
    class="hidden block-md"
  {% endif %}
>
  <div
    class="popup-content flex{% if enable_rtl %} flex-row-reverse{% endif %}"
    style="{{ style | strip | strip_newlines }}"
  >
    {% if background_image != blank or product_image != blank %}
      {%- liquid
        assign display_image = background_image
        if background_image == blank
          assign display_image = product_image
        endif
      -%}
      <div
        class="newsletter-popup__banner newsletter-popup__banner-show relative hidden block-md col-w-custom"
        style="--col-width: {{ section.settings.banner_width }}%;--aspect-ratio: {{ display_image.aspect_ratio }}"
      >
        {%- assign image_alt = display_image.alt | default: 'product' | escape -%}
        {% render 'responsive-image',
          type: 'other',
          image: display_image,
          image_alt: image_alt,
          class: 'absolute inset-0 w-full h-full object-fit-cover'
        %}
      </div>
    {% endif %}
    <div class="promotion__popup-content flex-1 relative">
      <div class="content-promotion text-center p-1025-40 p-30 {% if background_image != blank or product_image != blank %}absolute-md inset-0 flex flex-column{% endif %} overflow-y-auto custom-scrollbar h-full w-full">
        <div class="my-auto">
          <div class="section-header">
            {%- if sub_title != blank -%}
              <div class="section-des mb-10 lh-normal h6 mt-0">
                {{ sub_title }}
              </div>
            {% endif %}
            {%- if heading != blank -%}
              <h2 class="section-heading mt-0 mb-15 heading-letter-spacing">{{ heading }}</h2>
            {% endif %}
          </div>
          {%- if promotion_content != blank -%}
            <div class="promotion-content">
              {{ promotion_content | replace: '[promotion_code]', code }}
            </div>
          {% endif %}
          <a
            href="{% if promotion_url != blank %}{{ promotion_url }}{% else %}#{% endif %}"
            class="btn-primary w-full discount btn-promotion my-25 inline-flex content-center gap-5 no-underline uppercase"
            data-code="{{ code }}"
            {% if promotion_url != blank %}data-url="{{ promotion_url }}"{% endif %}
            aria-label="{{ 'popup.copy' | t }}"
          >
          Click here
          </a>
          <div class="do-not-show-again pointer fs-small">
            <span class="border-bottom">{{ 'popup.do_not' | t }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</promotion-popup>
{% schema %}
{
  "name": "t:sections.promotion-popup.name",
  "tag": "section",
  "enabled_on": {
    "groups": ["custom.overlay"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "select",
      "id": "show_promotion_select",
      "label": "t:sections.promotion-popup.settings.show.label",
      "default": "show_promotion_homepage",
      "options": [
        {
          "value": "show_promotion_homepage",
          "label": "t:sections.promotion-popup.settings.show.show_homepage.label"
        },
        {
          "value": "show_promotion_all_page",
          "label": "t:sections.promotion-popup.settings.show.show_all_page.label"
        },
        {
          "value": "hide_promotion",
          "label": "t:sections.promotion-popup.settings.show.hide.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_promotion_mobile",
      "label": "t:sections.promotion-popup.settings.show_on_mobile.label",
      "default": false
    },
    {
      "type": "text",
      "id": "promotion_code",
      "label": "t:sections.promotion-popup.settings.promotion_code.label"
    },
    {
      "type": "range",
      "id": "promotion_width",
      "label": "t:sections.promotion-popup.settings.width.label",
      "max": 800,
      "min": 400,
      "step": 10,
      "unit": "px",
      "default": 690
    },

    {
      "type": "text",
      "id": "promotion_sub_title",
      "label": "t:sections.all.contents.subheading.label",
      "default": "Special Offer"
    },
    {
      "type": "text",
      "id": "promotion_title",
      "label": "t:sections.all.contents.heading.label",
      "default": "Cyber <br\/> Monday"
    },
    {
      "type": "textarea",
      "id": "promotion_content",
      "label": "t:sections.promotion-popup.settings.promotion_content.label",
      "default": "Up to <span>50% Off<\/span> when using code [promotion_code]",
      "info": "t:sections.promotion-popup.settings.promotion_content.info"
    },
    {
      "type": "url",
      "id": "promotion_url",
      "label": "Promotion URL",
      "info": "Enter product or page URL. If banner image is not set, product image will be used automatically."
    },
    {
      "type": "header",
      "content": "t:sections.newsletter_popup.header.banner_image"
    },
    {
      "type": "image_picker",
      "id": "promotion_banner",
      "label": "t:sections.newsletter_popup.settings.banner_image",
      "info": "t:sections.newsletter_popup.settings.info"
    },
    {
      "type": "range",
      "id": "banner_width",
      "label": "t:sections.newsletter_popup.settings.banner_width",
      "max": 50,
      "min": 20,
      "step": 0.5,
      "unit": "%",
      "default": 36.5
    }
  ],
  "presets": [
    {
      "name": "t:sections.promotion-popup.name"
    }
  ]
}
{% endschema %}
